[submodule "scilla"]
	path = scilla
	url = https://github.com/dranov/scilla.git
[submodule "pyzil"]
	path = pyzil
	url = https://github.com/dranov/pyzil.git
[submodule "Zilliqa"]
	path = Zilliqa
	url = git@github.com:dranov/Zilliqa.git
